:root {
	--color-logo: #065fd4;
	--color-button: rgb(48, 48, 48);
	--gradient-background-horizontal: linear-gradient(90deg, rgba(250, 250, 250, 0.72) 0%, rgba(250, 250, 250, 0.36) 100%);
	--gradient-background-vertical: linear-gradient(180deg, rgba(250, 250, 250, 0.72) 0%, rgba(250, 250, 250, 0.36) 100%);
	--ui-border: 1px solid rgba(250, 250, 250, 0.72);
	--ui-font: "Material Icons Outlined";
	--header-height: 48px;
	--backdrop-filter: grayscale(0.72) blur(4px) brightness(1.24);
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./material-icons-outlined.woff2") format("woff2");
}

body{
	background: rgb(221, 217, 204);
}

.button {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

.element{
	display: flex;
	flex-direction: column;
	background: rgb(250, 250, 250);
	border-radius: 8px;
	border: 1px solid black;
	overflow: hidden;
}

.element.error{
	background: rgb(200, 20, 20);
	height: 140px;
}

.element.placeholder{
	background: var(--color-logo);
	height: 140px;
}

#main{
	display: grid;
	align-content: start;
	position: absolute;
	top: var(--header-height);
	right: 0px;
	left: 0px;
	min-height: calc(150% - var(--header-height)); /* temp  */
	padding: 16px;
}

#main{
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 16px;
}

#menu{
	display: flex;
	flex-direction: column;
	position: fixed;
	top: var(--header-height);
	bottom: 0px;
	left: 0px;
	width: 275px;
	background: var(--gradient-background-horizontal);
	backdrop-filter: var(--backdrop-filter);
	border-right: var(--ui-border);
	transform: translateX(0%);
	transition: transform 0.16s ease-out;
}

#menu[data-state="hidden"] {
	transform: translateX(-100%);
}

#header{
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	height: var(--header-height);
	padding: 0px 16px;
	background: var(--gradient-background-vertical);
	backdrop-filter: var(--backdrop-filter);
	border-bottom: var(--ui-border);
}

#header>.button{
	height: var(--header-height);
	width: var(--header-height);
	margin-right: 16px;
	font-family: var(--ui-font);
	color: var(--color-button);
	cursor: pointer;
}

#header>#home{
	font-size: 32px;
	color: var(--color-logo);
}

#header>.search{
	display: grid;
	grid-template-columns: 1fr min-content;
	flex-grow: 1;
	height: var(--header-height);
}

#header>.search>.query{
	grid-column: 1 / 4;
	grid-row: 1 / 2;
	justify-self: end;
	height: var(--header-height);
	width: var(--header-height);
	border: none;
	padding: 0px;
	margin: 0px;
	outline: none;
	cursor: pointer;
	text-indent: 16px;
	color: transparent;
	background: transparent;
	transition: width 0.16s ease-out, background 0.16s ease-out;
}

#header>.search:focus-within>.query{
	width: 100%;
	cursor: text;
	color: rgb(250, 250, 250);
	background: var(--color-button);
}

#header>.search>.submit{
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	height: var(--header-height);
	width: var(--header-height);
	font-family: var(--ui-font);
	color: var(--color-button);
	cursor: pointer;
	pointer-events: none;
}

#header>.search:focus-within>.submit{
	color: rgb(250, 250, 250);
	pointer-events: auto;
}