:root {
	--header-height: 48px;
}

#main{
	background: grey; /* temp */
	position: absolute;
	top: var(--header-height);
	right: 0px;
	left: 0px;
	min-height: calc(100% - var(--header-height));
}

#menu{
	background: green; /* temp */
	position: fixed;
	top: var(--header-height);
	bottom: 0px;
	left: 0px;
	width: 275px;
}

#header{
	background: red; /* temp */
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	height: var(--header-height);
}